<div data-pagefind-body class="td-content">
	{{ if .Params.outdated }}
		{{ $enPage := false }}
		{{ range .AllTranslations }}{{ if eq .Language.Lang "en" }}{{ $enPage = . }}{{ end }}{{ end }}
		<h1>{{ with $enPage }}{{ .Title }}{{ else }}{{ .Title }}{{ end }}</h1>
		{{ with .Params.subtitle }}<p class="lead">{{ . }}</p>{{ end }}
		{{ partial "version-switcher.html" . }}
		{{ partial "translation-needed.html" . }}
		{{ with $enPage }}{{ .Content }}{{ end }}
	{{ else }}
		<h1>{{ .Title }}</h1>
		{{ with .Params.subtitle }}<p class="lead">{{ . }}</p>{{ end }}
		{{ partial "version-switcher.html" . }}
		<div class="td-byline mb-5">
			{{ with .Params.pdf }}
			<div class="mb-3">
				<i class="fas fa-file-pdf"></i> <a href="{{ . }}" target="_blank">Download PDF</a>
			</div>
			{{ end}}
			{{ with .Params.version_info }}
			<div>
				<i class="fas fa-info"></i> <a href="{{ . }}" target="_blank">Version info</a>
			</div>
			{{ end}}
		</div>
		{{ .Content }}
	{{ end }}
	{{ if (and (not .Params.hide_feedback) (.Site.Params.ui.feedback.enable)) }}
		{{ partial "feedback.html" .Site.Params.ui.feedback }}
		<br />
	{{ end }}
</div>
